.center{
    display: block;
    margin: auto
}

.county {
    fill: none;
  }
  
.state {
    fill: none;
    stroke: #fff;
    stroke-linejoin: round;
}

.d3-tip {
    line-height: 1;
    font-size: 12px;
    padding: 5px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
}
